<footer class="site-footer">
  <div class="container">
    <div class="footer-grid">
      <div class="footer-brand">
        <p class="footer-brand-name">5error</p>
        <p class="footer-brand-desc">{{ site.description }}</p>
      </div>
      <div class="footer-sections">
        <p class="footer-col-label">Sections</p>
      </div>
      <div class="footer-connect">
        <p class="footer-col-label">Connect</p>
        <ul>
          <li><a href="https://twitter.com/KiddBubu" target="_blank">Twitter</a></li>
          <li><a href="{{ '/feed.xml' | prepend: site.baseurl | prepend: site.url }}">RSS</a></li>
          <li><a href="{{ '/about' | prepend: site.baseurl | prepend: site.url }}">About</a></li>
        </ul>
      </div>
    </div>
    <div class="footer-bottom">
      <small>&copy; {{ site.time | date: '%Y' }} {{ site.author.name }}. All rights reserved.</small>
    </div>
  </div>
</footer>
