<section class="intro">
  <div class="container">
    <p class="lead">
        Hi, I'm Bubu, a software developer from Ghana, Tech/Business Lead at <a href="https://www.afradio.co">AF Radio</a>
        and Administrator at <a href="http://www.devcongress.org">DevCongress</a>, the largest developer community in Ghana.
        This is 5 Error, where I rant, write about software development, business management and tech community building and 
        chronicle my lifes journey.
        <br/>
        <a target="_blank" href="https://twitter.com/Mz_Chi">Chiamaka Nwolisa</a> edits all articles.
    </p>
  </div>
</section>
