---
layout: default
---

<article class="post-article container" itemscope itemtype="http://schema.org/BlogPosting">

  {% if page.categories.size > 0 %}
  <span class="post-header-category">{{ page.categories.first | upcase }}</span>
  {% endif %}

  <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>

  <div class="post-meta-bar">
    <span itemprop="author">{{ page.author | default: site.author.name }}</span>
    <span>&middot;</span>
    <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%B %-d, %Y" }}</time>
    <span>&middot;</span>
    <span>{{ content | number_of_words | divided_by: 200 | plus: 1 }} min read</span>
  </div>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

  <div class="post-back">
    <a href="{{ '/' | prepend: site.baseurl | prepend: site.url }}">&larr; Back to all articles</a>
  </div>

</article>

{% include comments.html %}
